:root {
    --arsorange:rgb(255, 69, 0);
    --arsblack: rgb(7, 7, 7);
    --arsgreen: rgb(4, 198, 105);
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: small;
    line-height: 1.4rem;
    background-color: rgb(238, 239, 240);
}
/** arstechnica does not use a monospace font for their heading,
but it's pretty round and has visible enough seriffs that it works here.**/

nav {
    background-color:var(--arsblack);
    color:var(--arsgreen);
}

h1 {
    font-size: 2em;
    font-family: 'Courier New', monospace;
}

h2 {
    font-size: 1.5em;
    font-family: 'Courier New', monospace;
    font-weight: bolder;
}

.ingress {
    font-family: 'Courier New', monospace;
    font-weight: bolder;
    font-size: medium;
}

.writer {
    color: var(--arsorange);
    font-size: smaller;
    font-weight: bolder;
}

.published {
    color: rgb(86, 89, 92);
    font-weight: bolder;
}

.photoid{
    color: rgb(160, 160, 160);
    font-style: italic;
    font-size: smaller;
}


/** Grid structure **/
@media (max-width: 850px) {
    
}











/** Hamburger menu, this is based on Tengels example code**/

#burger-toggle {display: none;}

@media (max-width: 800px){
    .menu{
        list-style-type: none;
        position: sticky;
        color:var(--arsgreen);
        height: 50px;
        margin-top: 50px; /** VIRKER IKKE!**/
        padding-left: 0px;
    }
    .menu-icon {
        display: block;
        background-image: url(../images/menu.svg);
        background-size: cover;
        height: 30px;
        width: 30px;
        margin-top: 10px;
        margin-left: 1rem;
        margin-bottom: 10px;
    }

    .hamburger-toggle-container {cursor: pointer;}

    .menu li {
        height: 0px;
        overflow: hidden;
    }
    #burger-toggle:checked ~ .menu li {
        height: 1rem;
        width: auto;
        background-color: var(--arsblack) ;
        color:var(--arsgreen);
        padding-top: 1rem;
        padding-left: 2.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
    }
    nav {
        display: flex;
        height: 50px;
    }
}

@media (min-width: 801px){
    .menu{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        height: 50px;
        margin-top: 50px;
        

    }
    .menu li{
        padding-right: 4rem;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

    
}


/** Hamburger end**/


main, footer {
    margin-left: 1rem;
    margin-top: 0px;
}

footer > div {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-style:solid;
}