:root {
    --topmenucolour:rgb(238, 239, 240);
}

body {
    margin: 0;
    font-family: sans-serif;
}
/** arstechnica doe snot use a monospace font for the heading,
but it is pretty round and has visible enough seriffs that it works **/
h1 {
    font-size: 2em;
    font-family: 'Courier New', monospace;
}

h2 {
    font-size: 1.5em;
    font-family: 'Courier New', monospace;
    font-weight: bolder;
}

.ingress {
    font-weight: bolder;
}