:root {
    --arsorange:rgb(255, 69, 0);
    --arsblack: rgb(7, 7, 7);
    --arsgreen: rgb(4, 198, 105);
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: small;
    line-height: 1.4rem;
    background-color: rgb(238, 239, 240);
}
/** arstechnica does not use a monospace font for their heading,
but it's pretty round and has visible enough seriffs that it works here.**/

nav {
    background-color:var(--arsblack);
    color:var(--arsgreen);
}

h1 {
    font-size: 2em;
    font-family: 'Courier New', monospace;
    margin-top: 2rem;
}

h2 {
    font-size: 1.5em;
    font-family: 'Courier New', monospace;
    font-weight: bolder;
}

.ingress {
    font-family: 'Courier New', monospace;
    font-weight: bolder;
    font-size: medium;
}

.writer {
    color: var(--arsorange);
    font-size: smaller;
    font-weight: bolder;
}

.published {
    color: rgb(86, 89, 92);
    font-weight: bolder;
}

img {
    max-width: 100%;
    height: auto;
  }

.photoid{
    color: rgb(160, 160, 160);
    font-style: italic;
    font-size: smaller;
}

main {
    margin-top: 0px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}


/** GRID **/
@media (max-width: 800px) {
    footer > div {
        background-color: var(--arsgreen);
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
    }

    .footer{
        text-align: center;
    }

}

@media (min-width: 801px){
    .gridcontainer {
        display: grid;
        grid-template-columns: minmax(100px, 100px) minmax( 500px, 700px) auto;
        grid-template-rows: minmax(100px, auto);
    }
    .textboxintro {
        grid-column: 1/3;
        grid-row: 1;
    }
    /**The image is only for visual likeness.**/
    .commentsbox {
        grid-column: 1/2;
        grid-row: 2;
        background-image: url(../images/comment.svg);
        background-size: contain;
        max-height: 100px;
    }

    .textboxarticle{
        grid-column: 2/3;
        grid-row: 2;
        height: fit-content;
        padding-left: 1rem;
    }

    footer{
        display: grid;
        grid-template-columns: minmax(100px, 425px) minmax(100px, 425px) auto;

    }
    .footerleft {
        grid-column: 1/2;
        background-color: var(--arsgreen);
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 5rem;
        padding: 0.2rem;
    }
    .footerright {
        grid-column: 2/3;
        background-color: var(--arsgreen);
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 5rem;
        padding: 0.2rem;
    }
}

/** Hamburger menu, this is based on Tengels example code**/

#burger-toggle {display: none;}

@media (max-width: 800px){
    .menu{
        list-style-type: none;
        position: sticky;
        color:var(--arsgreen);
        height: 50px;
        padding-left: 1rem;
    }
    .menu-icon {
        display: block;
        background-image: url(../images/menu.svg);
        background-size: cover;
        height: 30px;
        width: 30px;
        margin-top: 10px;
        margin-left: 1rem;
        margin-bottom: 10px;
    }

    .hamburger-toggle-container {cursor: pointer;}

    .menu li {
        height: 0px;
        overflow: hidden;
    }
    #burger-toggle:checked ~ .menu li {
        height: 1rem;
        width: auto;
        background-color: var(--arsblack) ;
        color:var(--arsgreen);
        padding-top: 1rem;
        padding-left: 2.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
    }
    nav {
        display: flex;
        height: 50px;
    }
}

@media (min-width: 801px){
    .menu{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        height: 50px;
        margin-top: 50px;
        

    }
    .menu li{
        padding-right: 4rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    
}
<<<<<<< HEAD
article {
    /**background-color:rgb(238, 239, 240);**/
}

h1 {
    font-size: 2em;
    font-family: 'Courier New', monospace;
}

h2 {
    font-size: 1.5em;
    font-family: 'Courier New', monospace;
    font-weight: bolder;
}

.ingress {
    font-weight: bolder;
    font-family: 'Courier New', monospace;
    font-size: medium;
}

.writer {
    color: var(--arsorange);
    font-size: smaller;
    font-weight: bolder;
}

.published {
    color: rgb(86, 89, 92);
    font-weight: bolder;
}

.photoid{
    color: rgb(160, 160, 160);
    font-style: italic;
    font-size: smaller;
}

footer > div {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-style:solid;
}

.learning-outcomes{
	font-family: sans-serif;
    font-size: large;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff
}

.wrapper {
	margin: 50px;
}

.header-wrapper{
	background-color: orange;
}
	

.top-header-wrapper{
	margin-left: 50px;
	background-color: orange;
	height: 100px;
	font-size: 30px;
	font-weight: bold;
	align-items: center;
	display: flex;
	vertical-align: middle;
}

.banner-margin{
	margin-left: 70px;
}

#hidden {
  display: none;
  height: 100px;
  background: red;
}
:checked + #hidden {
  display: block;
}

